@font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins-Italic.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url("assets/fonts/Poppins-LightItalic.ttf");
    font-weight: 200;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Poppins' sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    background-color: #000000fb;
    list-style: none;
}

.headercontainer {
    display: flex;
    padding: 10px;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
    min-height: 50px;
}

.icon a {
    text-decoration: none;
    color: #ffff;
    font-size: 25px;
    font-weight: 500;
    transition: .3s;
}

.icon {
    display: inline-block;
    padding: 10px 15px;
}

.icon:hover{
    background-color: rgb(31, 100, 146);
    border-radius: 4px;
}

.main {
    background-color: rgb(212, 212, 211);
}

.main-container {
    display: flex;
    padding: 40px 30px 35px;
    justify-content: space-around;
    width: 100%;
    border-bottom: 15px solid #000000;
}

.section-profile {
    display: flex;
    justify-content: space-around;
    width: 50%;
    padding: 40px 25px 30px;
}

.section-profile-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}

.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    padding-right: 50px;
}

.main-title {
    position: relative;
    padding: 0;
    color: black;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 30px;
}

.main-title::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -7%;
    width: 500px;
    height: 5px;
    background-color: #000000;
}

h3 {
    font-weight: 300;
    letter-spacing: 3px;
}